.card-container {
  position: relative;

  width: 185px;
  height: 360px;

  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  text-align: center;
  gap: 0.5rem;

  color: #424f4ec9;
  font-weight: 500;
  cursor: pointer;
}

.img-container {
  height: 265px;
  min-height: 265px;

  overflow: hidden;

  position: relative;

  filter: contrast(120%);
}

.score {
  padding: 0.5rem;
  background-color: #388985c9;
  color: rgba(255, 255, 255, 0.775);

  position: absolute;

  top: -0.3rem;
}

.type {
  padding: 0.4rem;
  position: absolute;
  top: 0;
  right: 0;
  color: rgb(0, 0, 0);
  background-color: rgba(255, 255, 255, 0.75);
  z-index: 10;
}

.title {
  cursor: pointer;
  text-overflow: ellipsis;
}
