.card-container {
  position: relative;

  width: var(--width);

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  text-align: center;
  gap: 0.5rem;

  color: #424f4ec9;
  font-weight: 500;
  cursor: pointer;
  user-select: none;
}

.img-container {
  height: calc(var(--width) * 1.41);
  min-height: calc(var(--width) * 1.41);
  width: 100%;
  overflow: hidden;

  position: relative;

  filter: contrast(120%);
}

.score {
  padding: 0.4rem 0.4rem 0.1rem 0.4rem;
  background-color: #388985c9;
  color: rgba(255, 255, 255, 0.775);

  position: absolute;
  top: -0.3rem;
  z-index: 10;
}

.type {
  padding: 0 0.7rem;

  position: absolute;
  right: 0;
  bottom: 0;

  color: black;
  z-index: 10;
  background-color: rgba(240, 255, 255, 0.592);
}

.title {
  cursor: pointer;
  text-overflow: ellipsis;
}
