.footer-container {
  height: 3.5rem;
  padding: 1.3rem;

  background-color: #2b2d42;
  color: rgb(255, 255, 255);

  display: flex;
  justify-content: center;
  align-items: center;

  text-align: center;
  font-size: 0.8rem;
  font-weight: 500;
}

@media (min-width: 37rem) {
  .footer-container {
    font-size: 1rem;
  }
}
