.panel-about-container {
  padding: 1rem;

  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}

.sideTitle {
  font-size: 1rem;
  font-weight: 500;

  user-select: none;
}
.sideText {
  font-size: 0.8rem;
}

.simple-side-container {
  display: flex;
  justify-content: left;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem;
}

.links {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  gap: 0.5rem;
}

.link {
  --padding: 0.4rem;
  --outerWitdh: 2px;
  appearance: none;
  text-decoration: none;

  padding: var(--padding);

  border-radius: 10px;

  background-color: #2b2d42;
  color: aliceblue;

  text-align: center;
  user-select: none;
  cursor: pointer;
}

.link:hover,
.link:focus {
  padding: var(--padding);

  box-shadow: 0 0 0 calc(var(--outerWitdh)) #ffffff,
    0 0 0 calc(var(--outerWitdh) * 2) #2b2d42;

  background-color: #2b2d42;
}

.Synopsis-container {
  padding: 0 1rem 1rem 1rem;
  text-align: center;
}

.synopsis {
  width: 100%;
  border-bottom: 1px solid #2b2d42;
  padding: 0.5rem;
  margin-bottom: 1rem;

  display: flex;
  justify-content: center;

  font-size: 1.1rem;
  font-weight: 500;
  color: #2b2d42;
}

.synopsisText {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  position: relative;
  overflow: hidden;
  transition: all 0.4s ease;
}

.synopsisTogle {
  font-weight: 500;
  color: rgba(11, 93, 126, 0.595);
  cursor: pointer;
  user-select: none;
}

.loading-container {
  display: flex;
  flex-direction: row;
  gap: 0.7rem;
}
.loadingInfo {
  flex: 0.3;
}

.loadingText {
  height: 0.9rem;
}

@media (min-width: 592px) {
  .sideTitle {
    font-size: 1.1rem;
  }

  .sideText {
    font-size: 0.9rem;
  }

  .link {
    --padding: 0.5rem;
  }
}

@media (min-width: 1088px) {
  .sideTitle {
    font-size: 1.2rem;
  }
  .sideText {
    font-size: 1rem;
  }
  .link {
    --padding: 0.7rem;
  }
}
