.img-container {
  background-color: aliceblue;
  position: absolute;
  inset: 0;

  background-image: url(/images/search-background-original.jpg);
  background-size: 65%;

  filter: grayscale(80%);
}
