.search-bar-container {
  height: 3rem;

  position: absolute;
  background-color: #2b2d42;
  right: 0;
  left: 0;
  bottom: -3rem;

  padding: 0.8rem;

  display: flex;
  align-items: center;
  justify-content: center;
}

.seach-Bar-Icon {
  position: relative;
  min-width: 13rem;
  width: 70%;
  user-select: none;
}

.search-bar {
  outline: none;
  border: none;

  width: 100%;

  border-radius: 7px;
  padding: 0.5rem;
  text-align: center;
  background-color: #363853;
  color: aliceblue;
  caret-color: aliceblue;
}

.search-bar:active,
.search-bar:focus {
  background-color: #4b4e72;
}

.search-bar::placeholder {
  text-align: center;
  color: rgba(240, 248, 255, 0.636);
}

.icon {
  padding-left: 0.5rem;
  position: absolute;
  right: 0.3rem;
  bottom: 0;
  transform: translateY(-50%);

  border-left: aliceblue 1px solid;
  color: rgba(240, 248, 255, 0.743);
}

@media (min-width: 30rem) {
  .search-bar-container {
    position: static;
    background-color: inherit;
    width: clamp(14rem, 30vw, 30rem);
  }
  .seach-Bar-Icon {
    width: 100%;
  }
}
