.skeleton {
  background: linear-gradient(
    to right,
    #a3b8c2 47%,
    rgb(197, 210, 215) 50%,
    #a3b8c2 53%
  );
  background-size: 400% 400%;
  animation: skeleton-loading 1.5s linear infinite;
}

@keyframes skeleton-loading {
  0% {
    background-position: 100% 0%;
  }

  100% {
    background-position: 0% 100%;
  }
}

.loading-text-container {
  flex: 1;
}

.skeletonText {
  margin-bottom: 0.6rem;
}
.skeletonText:not(:first-child) {
  margin-top: 0;
}
