.items-container {
  min-height: calc(100vh - 3.5rem - 4.5rem);
  padding: 2rem;
  width: 100vw;
  max-width: 71.1rem;

  display: flex;
  flex-direction: column;

  align-items: center;

  position: relative;
  z-index: 100;

  /* backdrop-filter: blur(3px); */
}

.items {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 2.3rem;
}

.noResult {
  font-size: 2rem;

  text-align: center;
}
