.items-container {
  min-height: calc(100vh - 3.5rem - 4.5rem);
  padding: 2rem;
  width: 100vw;
  max-width: 93rem;

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

  color: white;

  position: relative;
  z-index: 100;

  /* backdrop-filter: blur(3px); */
}

.noResult {
  font-size: 2rem;

  text-align: center;
}
