.main-nav {
  display: none;
  gap: 1rem;
}

.active {
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;

  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;

  z-index: 100;

  background-color: inherit;
}

@media (min-width: 37rem) {
  .active {
    flex-direction: unset;
    justify-content: unset;

    position: static;
    background-color: inherit;
  }

  .main-nav {
    display: flex;
  }
}
