.item-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  cursor: pointer;
  user-select: none;
  overflow: hidden;
}

.img-container {
  height: calc(130px * 1.41);
  min-height: calc(130px * 1.41);
  width: 130px;

  overflow: hidden;

  position: relative;

  filter: contrast(120%);
  user-select: none;
}

.title {
  color: #516170;
  text-align: center;
  width: 130px;
  text-overflow: ellipsis;
}

.score {
  padding: 0.5rem;
  background-color: #388985c9;
  color: rgba(255, 255, 255, 0.775);

  position: absolute;
  z-index: 10;
  top: -0.3rem;
}

.rank {
  padding: 0 0.7rem;
  background-color: #a56173c9;
  color: rgba(255, 255, 255, 0.775);

  position: absolute;
  z-index: 10;
  bottom: 25px;
}

.type {
  padding: 0 0.7rem;

  position: absolute;
  right: 0;
  bottom: 0;

  z-index: 10;
  background-color: rgba(240, 255, 255, 0.592);
}

@media (min-width: 550px) {
  .img-container {
    height: calc(150px * 1.41);
    min-height: calc(150px * 1.41);
    width: 150px;
  }
  .title {
    width: 150px;
  }
}

@media (min-width: 870px) {
  .img-container {
    height: calc(150px * 1.41);
    min-height: calc(155px * 1.41);
    width: 155px;
  }
  .title {
    width: 155px;
  }
}

@media (min-width: 1098px) {
  .img-container {
    height: calc(185px * 1.41);
    min-height: calc(185px * 1.41);
    width: 185px;
  }
  .title {
    width: 185px;
  }
}
