.item-container {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;

  cursor: pointer;
  overflow: hidden;
}

.img-container {
  height: calc(130px * 1.55);
  min-height: calc(130px * 1.55);
  width: 130px;

  overflow: hidden;

  position: relative;

  filter: contrast(120%);
  user-select: none;
}

.title {
  color: #516170;
  text-align: center;
  max-width: 130px;
  text-overflow: ellipsis;
}

.score {
  padding: 0.5rem;
  background-color: #388985c9;
  color: rgba(255, 255, 255, 0.775);

  position: absolute;

  top: -0.3rem;
}

.rank {
  padding: 0 0.7rem;
  background-color: #a56173c9;
  color: rgba(255, 255, 255, 0.775);

  position: absolute;

  bottom: 25px;
}

.type {
  padding: 0 0.7rem;

  position: absolute;
  right: 0;
  bottom: 0;
  background-color: rgba(240, 255, 255, 0.592);
}
