.section-container {
  padding: 1.5rem;
}

.title {
  color: #2b2d42;
  text-align: start;
  margin-bottom: 1.5rem;
}

.carousel-container {
  padding: 1.2rem 1.8rem;
  border-radius: 10px;
  display: flex;
  align-items: flex-start;
  gap: 1rem;

  position: relative;

  background-color: #2b2d42;
  color: aliceblue;
  overflow: hidden;
}

.icon {
  border-radius: 100%;

  cursor: pointer;
  font-size: 1.2rem;
  background-color: aliceblue;
  color: #2b2d42;

  user-select: none;
}

.icon:active {
  color: red;
}

.rightAngel {
  padding: 1rem 0.8rem 1rem 0.4rem;
  position: absolute;
  right: -0.8rem;
  top: 50%;
  transform: translateY(-50%);
}
.leftAngel {
  padding: 1rem 0.4rem 1rem 0.8rem;
  position: absolute;
  left: -0.8rem;
  top: 50%;
  transform: translateY(-50%);
}

.pageCounter {
  position: absolute;
  z-index: 10;
  right: 0.5rem;
  bottom: 0.3rem;
}
