.img-container {
  --width: 185px;
  height: calc(var(--width) * 1.41);
  min-height: calc(var(--width) * 1.41);
  width: var(--width);
  min-width: var(--width);

  background-color: red;
  color: white;

  transform: translateX(-50%);
  box-shadow: 0 3px 10px 3px rgb(128, 128, 128);

  overflow: hidden;
  filter: contrast(120%);
  z-index: 20;
}
