.section-container {
  padding: 1.5rem;
}

.title {
  color: aliceblue;
  text-align: center;
  margin-bottom: 1.5rem;
}

.carousel-container {
  display: flex;
  gap: 1rem;
}

.icon {
  cursor: pointer;
  font-size: 1.5rem;
}
