.item-container {
  --width: 130px;
  max-width: var(--width);

  color: inherit;
  text-align: center;
  user-select: none;
}

.img-container {
  width: var(--width);
  height: calc(var(--width) * 1.41);
  min-height: calc(var(--width) * 1.41);
  filter: contrast(110%);

  cursor: pointer;

  text-align: center;
  position: relative;
}

.title {
  position: absolute;
  z-index: 5;
  bottom: 0;
  background-color: #2b2d42a7;
  color: aliceblue;
  width: var(--width);
}

@media (min-width: 670px) {
  .item-container {
    --width: 150px;
  }
}

@media (min-width: 910px) {
  .item-container {
    --width: 170px;
  }
}

@media (min-width: 1375px) {
  .item-container {
    --width: 185px;
  }
}
