.img-container {
  --width: 130px;
  width: var(--width);
  height: calc(var(--width) * 1.41);
  min-height: calc(var(--width) * 1.41);
  filter: contrast(120%);

  cursor: pointer;
  position: relative;
}

@media (min-width: 660px) {
  .img-container {
    --width: 150px;
  }
}

@media (min-width: 880px) {
  .img-container {
    --width: 170px;
  }
}

@media (min-width: 1330px) {
  .img-container {
    --width: 185px;
  }
}
