.item-container {
  --width: 130px;
  max-width: var(--width);

  color: inherit;
  text-align: center;
  user-select: none;
}

.img-container {
  width: var(--width);
  height: calc(var(--width) * 1.41);
  min-height: calc(var(--width) * 1.41);
  filter: contrast(110%);

  cursor: pointer;
  position: relative;
}

@media (min-width: 660px) {
  .item-container {
    --width: 150px;
  }
}

@media (min-width: 900px) {
  .item-container {
    --width: 170px;
  }
}

@media (min-width: 1360px) {
  .item-container {
    --width: 185px;
  }
}
