.home-container {
  padding: 2rem;
  min-height: calc(100vh - 4.5rem - 3.5rem - 3rem);

  margin-top: 3rem;
}

.sections-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
}

@media (min-width: 28.5rem) {
  .home-container {
    margin-top: unset;
    min-height: calc(100vh - 4.5rem - 3.5rem);
  }
}
