.card-container {
  position: relative;
  padding: 2rem;

  border-radius: 15px;
  width: 100%;
  height: calc(371px + 2rem);

  display: flex;

  justify-content: left;

  gap: 2rem;

  cursor: pointer;
  background: linear-gradient(to right, #22aab981, #92deaa77);
}

.img-container {
  height: 321px;

  overflow: hidden;

  position: relative;

  filter: contrast(120%);
}

.sideInfo {
  padding: 1.5rem;
  padding-top: 1rem;
  max-width: 21rem;
  min-width: 10rem;
  border-radius: 10px;

  display: flex;
  flex-direction: column;
  justify-content: start;
  gap: 0.8rem;

  background-color: rgba(0, 0, 0, 0.381);
  flex: 1;
}

.title {
  padding: 0.2rem;
  text-align: center;
  font-size: 1.2rem;
}

.score {
  padding: 0.5rem;
  background-image: linear-gradient(to right, #528984, #679383);
  color: rgba(255, 255, 255, 0.775);
}

.type {
  padding: 0.5rem;
  color: rgb(255, 255, 255);

  z-index: 10;
}
